
<div class ="center">

	<h3>Create User</h3>

	<%= render :partial => "error" %>
	<%= form_for @user, :html => {:multipart => true} do |form| %>
		<div class="field">
			<%= form.label :first_name %>
			<%= form.text_field :first_name %><br />
		</div>
		<div class="field">
			<%= form.label :last_name %>
			<%= form.text_field :last_name %>
		</div>
		<div class="field">
			<%= form.label :email %>
			<%= form.text_field :email %>
		</div>	
		<div class="field">
			<%= form.file_field :avatar %>
		</div>	
		<div class="field">
			<%= form.label :password %>
			<%= form.password_field :password %>
		</div>	
		<div class="field">
			<%= form.label :password_confirmation %>
			<%= form.password_field :password_confirmation %>
		</div>
		<div class="field">
			<%= form.submit "save" %>
		</div>
	<% end %>
	<%= link_to "Essays", users_url %>
</div>
