<h1><%= @user.first_name + " #{@user.last_name}" %></h1>
<p><%= @user.email %></p>


<h4>Your Essays</h4>
  <% @user.projects.each do |project| %>
      <%= project.title %>
      <% if project.user != nil %>
        <em> by <%= project.user.email %></em>
        Added on: <%= project.created_at %>
      <% end %>
  <% end %>







<%= link_to "Edit User", edit_user_path %>
<%= link_to "Delete User", @product, :confirm => "Are you sure you want to delete this user?", :method => :delete %> 
<br />
<br />
<%= link_to "Create an Essay", new_user_project_path(@user) %>
<br />
<%= link_to "Search for an Essay", user_projects_url(@user) %>