
<div class="buttons">
	<%= link_to "Edit", edit_user_path %>
</div>
<div style="clear:both;"></div>


<div id="userblock">

	<img class="userpicture" src=<%= @user.avatar_url(:thumb) %>>
	<br />

	<div class="userinfo">
		<div class="username">
			<h4><%= @user.first_name + " #{@user.last_name}" + "'s Profile" %></h4>
			<p>Created at <%= @user.created_at %></p>
		</div>
		
		<br />

		<div class="reputation">
			<% if current_user %>
				<h3><%= current_user.reputation_for(:votes).to_i %></h3><p>REPUTATION</p>
			<% end %>
		</div>

		<div class= "essaycount">
			<h3><%= @projects.to_i %></h3><p>ESSAYS</p>
		</div>
	</div>
  <div style="clear:both;"></div>

</div>



