

<% if current_user %>

  <h4>Post a Comment!</h4>

  <%= form_for([@project, @comment]) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
         <%= pluralize(@comment.errors.count, "error") %> prohibited this review from being saved:
        </div>
          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
      </div>
    <% end %>

    <div class="post-field">
      <%= f.text_area :text %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a comment.</p> 
<% end %>