

<div class="projects_list">
	<% @projects.each do |project| %>
	<div class="row">
		<div class="imagespace large-4 columns"><img src=<%= project.avatar_url(:thumb) %>></div>
		<div class="row">
	  	<div class="indexinfo large-7 columns"><%= link_to project.title, project %></div>
	  </div>
	  <div class="row">
	  	<div class="tag_list large-7 columns">Tags: <%= raw project.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></div>
	  </div>
	</div>
	<% end %>
</div>


<div style="clear:both;"></div>

<div id= "paginate">
<%= will_paginate @projects %>
</div>

<div id="tag_cloud">
	<h2>Tags</h2>
  <% tag_cloud Project.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>




