
<% if params[:user_id] then %>
	<h1><%= current_user.first_name + " #{current_user.last_name}" + "'s Project List" %></h1>
	<% @projects.each do |project| %>
  		<%= link_to project.title, project %><br />
	<% end %>

<% else %>
	<h1> Project Index </h1>
	
<div class="projectsonindex">
	<% @projects.each do |project| %>
	<ul>
		<li><img class="imagespace" src=<%= project.avatar_url(:thumb) %>></li>
  		<li><div class="indexinfo"><%= link_to project.title, project %></div></li>
  	</ul>
	<% end %>
</div>

<div style="clear:both;"></div>

<% end %>
<div id= "paginate">
<%= will_paginate @projects %>
</div>






