<div id="form-container" class="span12">
  <div class="row">
  <%= form_for @project, :html => {:multipart => true} do |p| %>
    <div class="span9">
      <div class="field" id="essay-container">
        <%= p.label :essay %>
        <%= p.text_area :essay, :placeholder => "Start strong, end strong!" %>
      </div> 
    </div>

    <div class="span3">
      <div class="row">
        <div class="field">
          <%= p.label :title %>
          <%= p.text_field :title, :class => "field-input"%>
        </div>
      </div>

      <div class="row">
        <div class="field">
          <%= p.label :tag_list, "Tags (separated by commas)" %>
          <%= p.text_field :tag_list, :class => "field-input"%>
        </div>
      </div>

      <div class="row">
        <div class="field">
          <%= p.label "Upload Picture" %>
          <%= p.file_field :avatar%>
        </div>
      </div>

      <div class="row" id="btn-container">
        <%= p.submit "Save Essay", :class => "btn btn-default pull-right" %>
      </div>
    </div>
  <% end %>
  </div>
</div>