
<div class="form">
  
  <h1>Create a New Project</h1>


  <%= form_for @project, :html => {:multipart => true} do |p| %>
      <% if @project.errors.any? %>
         <%= pluralize(@project.errors.count, "error") %> prohibited this review from being saved:
          <ul>
          <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
      <% end %>

    <div class="field">
      <%= p.label :title %><br />
      <%= p.text_field :title %>
    </div>
    <div class="field">
      <%= p.label "Upload Picture" %><br />
      <%= p.file_field :avatar %>
    </div>
    <br />
    <div class="field">
      <%= p.label :essay %><br />
      <%= p.text_area :essay %>
    </div>  

    <%= p.submit "save" %>
  <% end %>

  <%= link_to "back to projects", projects_url %>

</div>
