<div class="center">
  
  <h3>New Project</h3>


  <%= form_for @project, :html => {:multipart => true} do |p| %>
      <% if @project.errors.any? %>
         <%= pluralize(@project.errors.count, "error") %> prohibited this review from being saved:
          <ul>
          <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
      <% end %>

    <div class="field">
      <%= p.label :title %>
      <%= p.text_field :title %>
    </div>
    <div class="field">
      <%= p.label "Upload Picture" %>
      <%= p.file_field :avatar %>
    </div>
    <br />
    <div class="field">
      <%= p.label :essay %>
      <%= p.text_area :essay %>
    </div> 
    <div class="field">
      <%= p.label :tag_list, "Tags (separated by commas)" %>
      <%= p.text_field :tag_list %>
    </div> 

    <%= p.submit "save" %>
  <% end %>

  <%= link_to "back to projects", projects_url %>

</div>
