<img src=<%= @project.avatar_url(:big_thumb) %>>
<p><%= @project.title %></p>

<p><%= @project.essay %></p>

      <% if @project.user != nil %>
        <em> by <%= @project.user.email %></em>
        Added on: <%= @project.created_at %>
      <% end %>
      <br />

<%= pluralize @project.reputation_for(:votes).to_i, "votes" %>
<%= link_to "up", vote_project_path(@project, type: "up"), method: "post" %>
<%= link_to "down", vote_project_path(@project, type: "down"), method: "post" %>
<br />
<br />

<% @project.comments.each do |comment| %>
	<% unless comment.new_record? %>
		<%= comment.text %>
		<%= pluralize comment.reputation_for(:votes).to_i, "votes" %>
		<%= link_to "up", vote_project_comment_path(@project, comment, type: "up"), method: "post" %>
		<%= link_to "down", vote_project_comment_path(@project, comment, type: "down"), method: "post" %>		
		<%= link_to " - Delete", "/projects/#{@project.id}/comments/#{comment.id}", :confirm => "Are you sure you want to delete this comment?", :method => :delete %><br />
	<% end %>
<% end %>

<%= render :partial => "commentform" %>

<% if can? :update, @project%>
	<%= link_to "Edit Project", edit_project_path %>
<% end %>
<% if can? :delete, @project%>
<%= link_to "Delete Project", @project, :confirm => "Are you sure you want to delete this user?", :method => :delete %>
<% end %>
<br />
<br />


<br />
<h4>Group members</h4>
<div class="adding_authorized_users">
<% if current_user == @project.user %>
	<%= form_for ProjectUser.new(:project_id => @project.id) do |f| %>
		<%= f.hidden_field :project_id %>
		<%= f.collection_select :user_id, User.all, :id, :email %>
		<%= f.submit "Add", :class => "button"%>
	<% end %>
<% end %>
</div>



<% @project.authorized_users.each do |authorized_user| %>
	<%= authorized_user.first_name %>
	<%= authorized_user.last_name %>
	<% if @project.authorized_users.include?(current_user) %>
		<%= link_to " - Leave", @authorized_users, :confirm => "Are you sure you want to leave this group?", :method => :delete %><br />
	<% elsif @project.user == current_user %>
		<%= link_to " - Remove Group Member", @authorized_users, :confirm => "Are you sure you want to remove this group member", :method => :delete %><br />
	<% end %>	
<% end %>
<br />
<br />




