<div class="showpage">
	<div class="showtitle">
		<p><%= @project.title %></p>
	</div>
	<div id="scroll">
		<p><%= @project.essay %></p>
	</div>
</div>

<div class="projectoptions">
	<div class="votes">
		<%= pluralize @project.reputation_for(:votes).to_i, "votes" %>
		<%= link_to image_tag("/assets/up.png"), vote_project_path(@project, type: "up"), method: "post" %>
		<%= link_to image_tag("/assets/down.png"), vote_project_path(@project, type: "down"), method: "post" %>
	</div>

	
	<% if can? :update, @project%>
		<div class="btn btn_default" id="project-btn">
				<%= link_to "Edit Project", edit_project_path %>
		</div>	
	<% end %>
		
	<% if can? :delete, @project%>
		<div class="btn btn_default" id="project-btn">
			<%= link_to "Delete Project", @project, :confirm => "Are you sure you want to delete this user?", :method => :delete %>
		</div>
	<% end %>
</div>

<div style="clear:both;"></div>
<div class="post-comments">
	<%= render :partial => "commentform" %>
</div>

<% @project.comments.each do |comment| %>
	<% unless comment.new_record? %>
<div class="comment-container">
	<div class="comment-bg">
		<%= comment.text %><br />
		<p><%= " - " + "#{current_user.first_name}" + " #{current_user.last_name}"  %></p>
	</div>
	<div class="votes">
		<%= pluralize comment.reputation_for(:votes).to_i, "votes" %>
		<%= link_to image_tag("/assets/up.png"), vote_project_comment_path(@project, comment, type: "up"), method: "post" %>
		<%= link_to image_tag("/assets/down.png"), vote_project_comment_path(@project, comment, type: "down"), method: "post" %>	
		<%= link_to " - Delete", "/projects/#{@project.id}/comments/#{comment.id}", :confirm => "Are you sure you want to delete this comment?", :method => :delete %><br />
	</div>	
	<% end %>
</div>
<% end %>

<div class="groups">
<h4>Group members</h4>
<div class="adding_authorized_users">
	<% if current_user == @project.user %>
		<%= form_for ProjectUser.new(:project_id => @project.id) do |f| %>
			<%= f.hidden_field :project_id %>
			<%= f.collection_select :user_id, User.all, :id, :email %>
			<%= f.submit "Add" %>
		<% end %>
	<% end %>


<% @project.authorized_users.each do |authorized_user| %>
	<%= authorized_user.first_name %>
	<%= authorized_user.last_name %>
	<% if @project.authorized_users.include?(current_user) %>
		<%= link_to " - Leave", authorized_user, :confirm => "Are you sure you want to leave this group?", :method => :delete %><br />
	<% elsif @project.user == current_user %>
		<%= link_to " - Remove Group Member", authorized_user, :confirm => "Are you sure you want to remove #{authorized_user.first_name}", :method => :delete %><br />
	<% end %>	
<% end %>
<br />
<br />




