<!DOCTYPE html>
  <head>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title>"Maven Application"</title>

  	<%= stylesheet_link_tag    "application", "token-input" %>
  	<%= javascript_include_tag "vendor/custom.modernizr", "jquery.tokeninput" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <% if current_page? root_path %>
      <div id="background">
        <div id="bgcontainer"></div>
        <div id="appintro">
          <h1>Share your knowledge with the world<h1>
        </div>
      </div>
    <% end %>
    <div class="container">
      <div class="flash-container span12">
        <% if flash[:notice] %>
           <p class="flash-msg" id="flash-notice"><%= flash[:notice] %></p>
        <% end %>
        
        <% if flash[:alert] %>
           <p class="flash-msg" id="flash-error"><%= flash[:alert] %></p>
        <% end %>
      </div>

      <div id="page-content" class="span12">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
