<!DOCTYPE html>
<html>
<head>
  <title>Lets meet</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="nav"> 
      <ul>
      <li id="title"> Maven </li>
      <li><%= link_to "Projects", projects_url %></li>

        <% if current_user %>
            <li><%= link_to "Your Projects", my_projects_path %></li>
            <li><%= link_to "Your Profile", user_path(current_user) %></li>
            <li><%= link_to "Create an Essay", new_project_path %></li>
            <li><%= link_to "Delete User", @product, :confirm => "Are you sure you want to delete this user?", :method => :delete %> </li>
            <li>Signed in as <%= current_user.email %> <%= link_to "Log out", session_path("current"), :method => :delete %></li>
        <% else %>
            <li><%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %></li>
        <% end %>
      </ul>
    </div>

  <div style="clear:both;"></div>
    <% if flash[:notice] %>
    	 <p><%= flash[:notice] %></p>
    <% end %>
    
    <% if flash[:alert] %>
    	 <p><%= flash[:alert] %></p>
    <% end %>

<%= yield %>
  <%= debug params %>
 </div>
</body>
</html>
